/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";

/*
* Custom образец для сборщика ->  @import "partials/app";
*/

body{
	background-color: #EDF3DC;
	text-align: center;
}

section{
	margin-bottom: 100px;
}

img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
}