@charset "UTF-8";
/*
* Third Party
*/
@import url(../../../bower_components/normalize.css/normalize.css);
/*
* Custom ╨╛╨▒╤А╨░╨╖╨╡╤Ж ╨┤╨╗╤П ╤Б╨▒╨╛╤А╤Й╨╕╨║╨░ ->  @import "partials/app";
*/
body {
  text-align: center;
}

img {
  width: 300px;
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
}
